body {
    font-family: Arial;
    background: #f5f5f5;
    text-align: center;
}

#container {
    width: 80%;
    margin: auto;
}

#machine img {
    width: 250px;
    margin: 20px;
}

#selectBtn {
    padding: 15px 40px;
    font-size: 22px;
    background: #0078ff;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#selectBtn:hover {
    background: #005fcc;
}

#resultCard {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}

table {
    width: 80%;
    margin: 30px auto;
    border-collapse: collapse;
    font-size: 18px;
}

table, th, td {
    border: 1px solid black;
    padding: 10px;
}